<h2>FIND CLIENT</h2>

<div>
  <%= form_tag clients_path, method: :get do %>
  <div class="field row">
    <div class="small-3 columns">
      <%=label_tag :a_number_search, "FIND CLIENT BY A#:",
      class: "inline right" %>
    </div>
    <div class="small-9 columns">
      <%=text_field_tag :a_number_search, params[:a_number_search],
      placeholder: "XXX-XXX-XXX" %>
    </div>
      <%=submit_tag "Find Client", name: nil, class: "button green-button" %>
  </div>
  <% end %>
</div>
