<div class="row">
  <div class="medium-3 columns">
    <h2>Welcome</h2>
  </div>
  <div class="medium-9 columns">
    <p>Letterpress Shoreditch drinking vinegar, master cleanse mlkshk heirloom distillery pickled cardigan pop-up listicle trust fund vegan paleo sustainable. VHS cold-pressed direct trade put a bird on it typewriter. Lumbersexual Wes Anderson Echo Park cred. Four dollar toast YOLO taxidermy actually. Irony pork belly pour-over, Thundercats tattooed skateboard kale chips Odd Future fingerstache cornhole. 8-bit cardigan squid ethical pork belly. Cardigan viral High Life, roof party Godard ugh selvage retro mixtape church-key.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-12 columns">
    <ul class="medium-block-grid-2">
      <li><%=link_to "Add Client", '/clients/new', class: "button green-button" %></li>
      <li><%=link_to "Make Query", '/advanced_search', class: "button green-button" %></li>
    </ul>
  </div>
</div>
