<%= link_to "Client: #{@client.full_name}", client_path(params[:client_id]) %>
<h2>EDIT CONVICTION</h2>


<%= render :partial => "form", :locals => { :conviction => @conviction } %>
<%#= link_to 'Show', client_convictions_path %>
<%#= link_to 'Back', client_convictions_path %>
