/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

/* GLOBAL CSS */

body {
  color: #444;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #444;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: center;
}

h2 {
  color: #444;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.top-bar-section ul li a {
  text-decoration: none;
}

/* button */

.button {
  color: white;
  background-color: #444;
  float: right;
  margin-left: 2px;
  margin-right: 2px;
  border: white;
  border-style: solid;
  border-width: 2px;
}

.button:focus, .button:hover {
  background-color: white;
  /*background-color: #ffcc00;*/
  color: #444;
  border: #444;
  border-style: solid;
  border-width: 2px;
}

/* link */

a {
  color: #444;
  text-decoration: underline;
}

a:hover, a:focus {
  text-decoration: none;
  background-color: #444;
  color: white;
}

/* FORMS */

.remove_field {
  background-color: #ffcc00;
  float: right;
  margin-bottom: 25px;
}

/*

input[type="checkbox"] + .label-text:before {
  content: "No";
  background-color: #ffcc00;
  color: #444;
  padding: 5px;
}

input[type="checkbox"]:checked + .label-text:before {
  content: "Yes";
  background-color: #444;
  color: white;
  padding: 5px;
}*/

.required {
  font-weight: 900;
  color: #3375cc;
}

.multiple-selections {
  height: 75px;
}

.sentence div {
  display: inline-block;
}

/* SHOW */

table {
  width: 100%;
}

.update-link {
  padding-left: 10px;
}

.hidden {
  position: absolute;
  display: none;
}
