/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

/* GLOBAL CSS */

.top-div {
  margin-top: 25px;
}

body {
  color: #444;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #444;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #951A1D;
}

h2 {
  color: #951A1D;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

}

h3 {
  color: #951A1D;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.top-bar-section ul li a {
  text-decoration: none;
}

.title-area {
  padding-top: 40px;
}

.name {
  font-size: 100px;
}

footer {
  padding-top: 25px;
  background-color: black;
}

/* button */

.button {
  float: right;
  margin-left: 2px;
  margin-right: 2px;
  color: white;
  background-color: #444;
  border: white;
  border-style: solid;
  border-width: 2px;

}

.red-button:focus, .red-button:hover {
  color: white;
  background-color: #951A1D;
  border: #951A1D;
  border-style: solid;
  border-width: 2px;
}

.green-button:focus, .green-button:hover {
  color: white;
  background-color: #0971b2;
  border: #0971b2;
  border-style: solid;
  border-width: 2px;
}

/* link */

a {
  color: #444;
  text-decoration: underline;
}

a:hover, a:focus {
  text-decoration: none;
  background-color: #444;
  color: white;
}

/* FORMS */
.remove_field {
  background-color: white;
  float: right;
  margin-bottom: 20px;
  color: #951A1D;
}

.add-field {
  margin-top: -20px;
  margin-bottom: 20px;
}
/*
input[type=checkbox] {
  display: none;
}

input[type="checkbox"] + .label-text:before {
  content: "No";
  background-color: #ffcc00;
  color: #444;
  padding: 5px;
}

input[type="checkbox"]:checked + .label-text:before {
  content: "Yes";
  background-color: #444;
  color: white;
  padding: 5px;
}*/

.required {
  font-weight: 900;
  color: #444;
}

.multiple-selections {
  height: 75px;
}

.sentence div {
  display: inline-block;
}

/* SHOW */

table {
  min-width: 100%;
  border: #444;
  border-style: solid;
  border-width: 2px;
}

.update-link {
  color: #951A1D;
}

.hidden {
  position: absolute;
  display: none;
}

/* SEARCH */

.red {
  background-color: #444;
  padding: 10px;
}

.red:hover, .red:focus {
  background-color: #951A1D;
}

.green {
  background-color: #444;
  padding: 10px;
}

.green:hover, .green:focus {
  background-color: #0971b2;
}

.big-button {
  padding: 25px;
  font-size: 25px;
  float: left;
}

.search-option {
  font-size: 15px;
}

fieldset {
  margin-top: 5px;
}
