// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grounds-table {
  display: inline-block;
}

.assessment_date {
  margin-top: 25px;
}


.delete_check_box {
  color: #951A1D;
}
