<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<h2>REMOVABILITY GROUNDS</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @removability_grounds.each do |removability_ground| %>
      <tr>
        <td><%= removability_ground.name %></td>
        <% if current_user && current_user.admin %>
          <td><%= link_to 'Delete', removability_ground, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.admin %>
  <%= link_to 'ADD REMOVABILITY GROUND', new_removability_ground_path %>
<% end %>
