<h2>ADD REMOVABILITY GROUND</h2>

<% if current_user && current_user.admin %>
  <%= render 'form' %>

  <%= link_to 'Back', removability_grounds_path %>
<% else %>
  <h3>Sorry. Only admins can add removability grounds.</h3>
<% end %>
