<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @removability_ground.name %>
</p>

<%= link_to 'Edit', edit_removability_ground_path(@removability_ground) %> |
<%= link_to 'Back', removability_grounds_path %>
